p {
    display: inline-block;
    vertical-align: top;
}

#Logo {
    width: 80px;
    padding: 3%;
}


 .navbar{
    width: 50%;
    margin-left: auto;
    display: inline-block;
}


.navbar li{
    display: inline-block;
}

li {
    display: inline;
    margin-right: 20px;
    font-size: 20px;
}


.herolmg {
    height: 600px;
    padding: 25px;
}


#Photo {
    width: 250px;
    height: auto;
    border-radius: 8px;
}


footer {
    background-color: #b5838e;
    height: 60px;
}

p{
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    padding: 5px;
    float: left;
}

h1{
    color: white;
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
}


body {
    background-color: black;
}


ul{
    color: white;
    display:inline-block;
    font-family: 'DM Sans', sans-serif;
}