p {
    display: inline-block;
    vertical-align: top;
}

#Logo {
    width: 80px;
    padding: 3%;
    text-align: center;
}


 .navbar{
    width: 50%;
    margin-left: auto;
    display: inline-block;
}

.navbar li{
    display: inline-block;
}

.herolmg {
    height: 600px;
    padding: 25px;
}



#Photo {
    width: 275px;
    height: 400px;
}


footer {
    background-color: #b5838e;
}

p{
    color: white;
}

h1{
    color: white;
}

body {
    background-color: black;
}

ul{
    color: white;
    display:inline-block
}