<head>
<link rel="stylesheet" href="style.css">
</head> 

p{
   display:in-line-block;
   vertical-align:top;
}

p{
    .Logo
    width: 15px;
    padding: 5%;
    text-align:center; 
}

p{
    .ul
    width: 50%;
    margin-left:auto
}

p{
    .herolmg
    height: 600px;
    padding: 25px;
}

p{
    .content
    width: 500px;
    margin: 0 auto;

}

p{
    .Photo
    width: 50px;
    height: 50px; 
}

p{
    .footer
    background-color: black;$
}